Version 7
[x] It should have a displaysTodos button.
[] The displayTodos button should riun the displaysTodos function.

Version 6
[x] It should have a function to toggle all todos.
[x] If everything is true ==> change everything to false.
[x] If everything is false ==> change everything to ture.
[x] If mixed ==> change everything to true.


Version 5
[x] A function to display todos.
[x] displayTodos should show the todoText and completed properties.


Version 4
[x] It should have a function to toggle a todo.


Version 3
[x] We should initialize the todos variable with objects.
[x] The add function should add objects.
[x] The edit function should edit objects.

Version 2
[x] It should have a function to add a todo
[x] It should have a function to edit a todo 
[x] It should have a function to remove a todo

Version 1
[x] - It should have a way to store todos
[x] - It should have a way to display todos
[x] - It should have a way to add a todo
[x] - It should have a way to edit a todo
[x] - It should have a way to remove a todo